.red {
  cursor: pointer;

  box-sizing: border-box;
  margin: 10px;
  padding: 0.6em 1.5em;

  font-family: 'Montserrat', sans-serif;
  /*-webkit-align-self: center;*/
  /*align-self: center;*/
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #fd3636;
  border: 1px solid #900000;
  border-radius: 0.4em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.red:hover {
  color: white;

  outline: 0;
}

.red {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.red:hover {
  box-shadow: 0 0 40px 40px #697786 inset;
}

.default {
  cursor: pointer;

  box-sizing: border-box;
  height: 1.3rem;
  margin: 10px;
  padding: 0 0.7em;

  font-family: 'Montserrat', sans-serif;
  /*align-self: center;*/
  font-size: 1rem;
  font-size: 16px;
  font-weight: 400;
  font-weight: 300;
  line-height: 1;
  color: lightslategrey;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: red;
  background-color: #f4f4f4;
  border: 1px solid #fbacac;
  border: 2px solid lightslategrey;
  border-radius: 0.4em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*-webkit-align-self: center;*/
  -ms-flex-item-align: center;
}
.default:hover {
  color: white;

  outline: 0;
}

.default {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.default:hover {
  box-shadow: 0 0 40px 40px #697786 inset;
}
