.paper {
  display: flex;
  flex-direction: column;

  width: 30%;
  height: 60vh;
  margin: 60px auto;
  padding: 35px 33px;

  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  color: white;

  background: #366eff;
  border: none;
  border-radius: 30px;
}
