.backToPacksList {
  display: flex;
  justify-items: center;

  margin-top: 24px;
  margin-left: 168px;
}

.arrow {
  width: 24px;
  height: 24px;
}

.text {
  width: 126px;
  height: 24px;
  margin-left: 8px;
}

.personalInformationContainer {
  width: 413px;
  height: 360px;
  margin-top: 12px;
  margin-left: 30%;
}

.header {
  height: 27px;
  margin-top: 27px;

  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  line-height: 27px;
  color: #000000;
}

.imageGroup {
  margin-top: 30px;
}

.addAvatar {
  margin-left: -30px;
}

.nameGroup {
  display: flex;
  justify-content: center;

  margin-top: 17px;
}
.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.pencilImage {
  margin-top: 1px;
  margin-left: 8px;
}

.email {
  margin-top: 14px;
  margin-bottom: 29px;
}

.logOut {
  margin-left: 10px;
}
